<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<style>
  .hCONFIG{
      color: #000;
      text-align: center;
      margin-right: 400px;
      margin-left: 400px;
  }
  .FORMCONFIG{
      margin-right: 400px;
      margin-left: 500px;
      padding-left: 20px;
      padding-top: 10px;
      border-radius:20px;
      padding-left:50px;
  }
</style>
<body style="background-color: #99ff99;">
    <h1 CLASS="hCONFIG">login</h1>
    <Div CLASS="FORMCONFIG"style="background-color: white;">
        <form method="POST"action="{% url 'login' %}">
          {% csrf_token %}
          <p>UserName:</p>
          <input type="text"name="username"/>
          <p>Password:</P>
          <input type="password"Name="password1"/>
          <br>
          <input type="submit"name="submit"value="Register"href="{% url 'done' %}">
        </form>
    </Div>
</body>
</html>
{%endblock%}
