<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signUP</title>
</head>
<style>
  .hCONFIG{
      color: #000;
      text-align: center;
      margin-right: 400px;
      margin-left: 400px;
  }
  .FORMCONFIG{
      margin-right: 400px;
      margin-left: 500px;
      padding-left: 20px;
      padding-top: 10px;
  }
</style>
<body style="background-color: #99ff99;">
    <h1 CLASS="hCONFIG">
        Signup
    </h1>
    <Div CLASS="FORMCONFIG"style="background-color: white;">
      <form method="POST" action="{% url 'signup' %}">
          {% csrf_token %}
            <p>first_name:</p>
            <input type="text"name="first_name"/>
            <p>last_name:</p>
            <input type="text"name="last_name"/>
            <p>Email:</p>
            <input type="email"name="email"/>
            <p>UserName:</p>
            <input type="text"name="username"/>
            <p>Password:</P>
            <input type="password"Name="password1"/>
            <p>Confirm Password:</P>
            <input type="password"Name="password2"/>
            <br>
            <input class="btn btn-primary" type="submit" value="Register" />
        </form>
    </Div>
</body>
</html>
{%endblock%}
