<!DOCTYPE html>
{% block content %}
<html lang="en">
<body>
<head>
{% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>done</title>
    <h1>succussfuly done</h1>
</body>
</head>
</html>
{%endblock%}
